/********************************
Header
********************************/

.header-cta-wrap {
    grid-area: 1 / 10 / 2 / 13;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main-navigation {
    grid-area: 1 / 2 / 2 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    padding-left: 0;
    display: flex;
}

.menu-item {
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 1rem; 
  }