@charset "UTF-8";

@font-face {
  font-family: "Nacelle";
  src: url("../../public/fonts/Nacelle-Light.woff2") format("woff2"),
    url("../../public/fonts/Nacelle-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nacelle";
  src: url("../../public/fonts/Nacelle-Regular.woff2") format("woff2"),
    url("../../public/fonts/Nacelle-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nacelle";
  src: url("../../public/fonts/Nacelle-SemiBold.woff2") format("woff2"),
    url("../../public/fonts/Nacelle-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}